* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.justifyBetween {
  justify-content: space-between;
}

.alignCenter {
  align-items: center;
}

.bgOrange {
  background-color: #f16718;
}

.white {
  color: #fff;
}

.boldFont {
  font-weight: 700;
}

.blackFont {
  font-weight: 900;
}

.uppercaseText {
  text-transform: uppercase;
}

.borderRadius {
  border-radius: 15px;
}

.smallContainer {
  max-width: 255px;
}

.lightIcon {
  padding: 16px;
}

.bluetoothIcon {
  padding: 19px;
}

.iconWidth {
  width: 65px;
}

.imgHeight {
  max-height: 480px;
  height: 100%;
}

.btn {
  padding: 16px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.btn:hover {
  background-color: #ff9b62;
}

.headerBtn:hover {
  background-color: #162542;
  color: #fff;
}

body {
  font-family: "Barlow", sans-serif;
}

.mainContainer {
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 165px;
  overflow: hidden;
}

.header {
  margin-block: 55px;
}

.buttonFlex {
  gap: 40px;
}

.main {
  position: relative;
  gap: 125px;
}

.sectionOneimgContainer {
  max-width: 540px;
  width: 100%;
}

.contentContainer {
  max-width: 445px;
}

.contentContainer h2 {
  font-size: 56px;
  text-transform: uppercase;
}

.headerParagraph {
  font-size: 18px;
  line-height: 26px;
  margin: 24px auto 40px auto;
}

.sectionTwo::before,
.main::after {
  content: " ";
  width: 255px;
  height: 200px;
  background-color: #e8eff2;
  position: absolute;
  border-radius: 15px;
}

.main::after {
  right: -330px;
  top: 0;
}

.leftImgContainer::after {
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 15px;
  background-color: #f1671894;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.sectionTwo::before {
  left: -270px;
  bottom: 0;
}

.sectionTwo {
  margin-top: 30px;
  gap: 125px;
  position: relative;
}

.sectionTwoHeader {
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 27px;
}

.imagesContainer {
  gap: 30px;
}

.leftImgContainer {
  position: relative;
  max-width: 255px;
  width: 100%;
}

.centerImgContainer {
  max-width: 540px;
  width: 100%;
}

.featureSection {
  margin-top: 187px;
  gap: 30px;
}

.featureIcon {
  padding: 22px 20px;
}

.featureName {
  font-size: 24px;
  margin: 48px auto 24px auto;
}

.featureText {
  line-height: 26px;
  font-weight: 500;
  color: #7b8bad;
}

.footer {
  margin: 128px auto 39px auto;
  text-align: center;
  color: #7b8bad;
  font-weight: 500;
}

@media (max-width: 1230px) {
  .mainContainer {
    padding-inline: 70px;
  }

  .sectionTwo {
    flex-wrap: wrap;
    gap: 80px;
  }

  .sectionTwoText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
    gap: 40px;
  }

  .sectionTwoHeader {
    margin-bottom: 0;
  }

  .sectionTwoText p {
    max-width: 400px;
    line-height: 26px;
    font-size: 14px;
  }

  .sectionTwo::before,
  .main::after {
    display: none;
  }
}

@media (max-width: 1100px) {
  .mainContainer {
    padding-inline: 40px;
  }

  .featureSection {
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
    margin-top: 100px;
  }
}

@media (max-width: 1000px) {
  .mainContainer {
    padding: 0;
  }

  .header,
  .sectionTwo,
  .featureSection {
    padding-inline: 40px;
  }

  .main {
    gap: 80px;
    padding-left: 40px;
  }

  .contentContainer {
    max-width: 340px;
    width: 100%;
  }

  .contentContainer h2 {
    font-size: 48px;
  }

  .headerParagraph {
    font-size: 16px;
    margin-top: 34px;
  }

  .sectionOneimgContainer {
    max-width: 425px;
    height: 100%;
  }

  .sectionOneImg {
    width: 100%;
  }

  .centerImgContainer,
  .leftImgContainer {
    max-height: 320px;
  }

  .centerImg,
  .leftImg {
    width: 100%;
  }
}

@media (max-width: 620px) {
  .main {
    flex-wrap: wrap;
    align-items: center;
    margin-inline: auto;
    padding-left: 20px;
  }

  .header {
    margin-block: 24px;
  }

  .sectionTwo {
    padding: 0;
    padding-right: 20px;
  }

  .header,
  .featureSection {
    padding-inline: 20px;
  }

  .sectionOneimgContainer {
    max-width: 478px;
    margin-left: auto;
  }

  .featureSection {
    text-align: center;
  }

  .feature {
    max-width: 500px;
  }

  .featureIcon,
  .lightIcon,
  .bluetoothIcon {
    margin-inline: auto;
  }

  .sectionTwoText {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .imagesContainer {
    gap: 24px;
  }

  .centerImgContainer,
  .leftImgContainer {
    max-height: 193px;
  }

  .leftImgContainer {
    max-width: 129px;
  }

  .centerImgContainer {
    max-width: 220px;
  }
}
